#pagecontainer{
	display: flex;
	width: 100%;
	flex-direction: column;
}

#topsection {
	display: flex;
	width: 100%;
	background: url(your_verse_hero.jpg) 50% 100% no-repeat;
	flex-direction: column;
}



#menubarcontainer {
	width: 100%;
	height: 54px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

#menubar {
	width: 980px;
	height: 36px;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, .45) 100%), -moz-linear-gradient(left, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) .2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, .2) 100%);
	background: url(index.png) no-repeat 50% 50%, -moz-linear-gradient(bottom, #666 0, #5e5e5e 50%, #707070 51%, #808080 100%);
	border-radius: 4px;
	display: flex;
}

.menuitem {
	height: 100%;
	display: flex;
	flex: 1 0 10%;
	border-right: 1px solid #555;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(230,230,230,0.35);
	-moz-box-shadow: inset 0px 0px 2px 0px rgba(230,230,230,0.35);
	box-shadow: inset 0px 0px 2px 0px rgba(230,230,230,0.35);
	font-family: sans-serif;
	color: white;
	font-size: 12px;
	align-items: center;
	justify-content: center;
}

#apple {
	background-position: 50% 2;
	background-image: url(http://images.apple.com/global/nav/images/globalnav_text.svg);
}

#menusearch {
	flex: 5 0 10%;
	border-right: none;
	background: url(searchicon.png);
	background-position: 25% 50%;
	background-repeat: no-repeat;
	color: white;
}

#menusearch input {
	border-radius: 12px;
	background: none;
	border-style: normal;
	border-width: 1px;
	border-color: #888;
	-o-transition: color, text-shadow 0.3s, 0.3s;
	-ms-transition: color, text-shadow 0.3s, 0.3s;
	-moz-transition: color, text-shadow 0.3s, 0.3s;
	-webkit-transition: color, text-shadow 0.3s, 0.3s;
	color: white;
}



#maintext {
	width: 100%;
	height: 531px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: -47px;
}

#cropper {
	height: 29px;
	overflow: hidden;
}


#bottomsection {
	width: 100%;
	height: 200px;
	background: #7a7cb9;
	display: flex;
}

.bottomblock {
	width: 25%;
	height: 100%;
	background: #ac1ee5;
	box-sizing: border-box;
	border: 1px solid white;
	justify-content: center;
	display: flex;
	overflow: hidden;

}

#footer {
	width: 100%;
	height: 90px;
	background: white;
	display: flex;
}

#footer1 {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 9px;
	font-family: sans-serif;
	color: #555;
}

#applestore {
	width: 70%;
	height: 20px;
}
#copyright {
	width: 70%;
	height: 20px;
	margin-top: 8px;
}

#footer2 ul li {
	display: inline-block;
	border-right: 1px solid #333;
	color: #08c;
	font-size: 11px;
	font-family: sans-serif;
	padding-right: 5px;
	margin-top: 25px;
}